{% extends "base.html" %}

{% block title %}编辑博客{% endblock %}

{% block md %}
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="新建博文">
    <div class="w-100">
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
            <h3 class="mb-5">编辑博客</h3>
    <form method="POST" action="{{ url_for('blog.edit_post', id=post.id) }}">
        {{ postform.hidden_tag() }}
        <div class="form-hroup">
            {{ postform.title.label }}
            {% if postform.title.errors %}
                {% for e in postform.title.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
            {% endif %}
            {{ postform.title(class_='form-control',value=post.title) }}
        </div>
        <div class="form-group">
            {{ postform.text.label }}
            {% if postform.text.errors %}
                {% for e in postform.text.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
            {% endif %}
            <!--textarea name="editormd"-->
            <div id="text" class="editormd">
                
                    {{ postform.text(style="display:none;") }}
            
            </div>
            {{ pagedown.include_pagedown() }}
        </div>
        <input class="btn btn-primary" type="submit" value="提交">
    </form>
        </div>
        </div>
    </div>
</section>
{% endblock %}


{% block js %}
<script src="{{ url_for('static',filename='editormd/examples/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
<script type="text/javascript">
    $(function () {
        editormd("text", {
            //width: "100%"
            height: 640,
            syncScrolling: "single",
            path: "{{ url_for('static',filename='editormd/lib/') }}",
            //markdownSourceCode : false,
            saveHTMLToTextarea : true
        });
    });
</script>

{% endblock %}