{% extends "base.html" %}

{% block title %}New Post{% endblock %}


{% block md %}
<section id="contents" class="width">
<aside id="aside" class="left">
  <div class="inner">
    <div class="sns master-info">
      <div class="info-base">
        <h2 class="blogname">新建博客</h2>
        <form method="POST" action="{{ url_for('blog.new_post') }}">
          {{ postform.hidden_tag() }}
          <div class="form-group">
            {{ postform.title.label }}
            {% if postform.title.errors %}
            {% for e in postform.title.errors %}
              <p class="help-block">{{ e }}</p>
            {% endfor %}
            {% endif %}
            {{ postform.title(class_='form-control') }}
          </div>
          <div class="form-group">
            {{ postform.text.label }}
            {% if postform.text.errors %}
            {% for e in postform.text.errors %}

              <p class="help-block">{{ e }}</p> 
            {% endfor %}
            {% endif %}
      <!--textarea name="editormd"-->
      <div id="fancy-editormd" class="editormd">
        {{ postform.text(style="display:none;") }}
      </div>
    </div>
    <input class="btn btn-primary" type="submit" value="提交">
  </form>
    </div>
    </div>
  </div>
  </aside>
  </section>
{% endblock%}



{% block js %}
<script src="{{ url_for('static',filename='editormd/examples/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
<script type="text/javascript">
    $(function () {
        editormd("fancy-editormd", {
            //width: "100%"
            height: 640,
            syncScrolling: "single",
            path: "{{ url_for('static',filename='editormd/lib/') }}",
            saveHTMLToTextarea : true,
            emoji: true
        });
    });
</script>
 {{ super() }}
{% endblock %}
