<!-- Replace yhe TITLE of template base.html -->
{% extends "base.html" %}
{% block title %}Jerry's Blog{% endblock %}

<!-- Replace the BODY of template base.html -->
{% block body %}
<div class="col-lg-9">
<a href="/login">
      <button>登录</button>
</a>
<a href="/register">
      <button>注册</button>
</a>
<a href="/admin">
      <button>后台</button>
</a>
</div>
<!-- The data object from view function: `home()` -->
<div class="row">
	<div class="col-lg-9">
		<!-- Get Pagination object-->
		{% for post in posts.items %}
		<div class="row">
			<div class=col-lg-12">
				<h1>{{ post.title }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				{{ post.text | truncate(255) | safe }}
				<!-- Set the link for read more -->
				<a href="{{
					url_for('blog.post',post_id=post.id)
					}}">点击查看全文</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="col-lg-3">
		<div class="row">
			<h5>最新文字</h5>
			<ul>
				{% for post in recent %}
				<!-- Set the link for recent posts. -->					
				<li><a href="{{
					url_for('blog.post',post_id=post.id)
					}}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="row">
			<h5>热门话题</h5>
			<ul>
				{% for tag in top_tags %}
				<li><a href="{{
					url_for('blog.tag', tag_name=tag[0].name)
					}}">{{ tag[0].name }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="row">
			<h5>华大新闻</h5>
			<ul>
				{% for title in titles %}
					<li><a href="https://www.hqu.edu.cn/{{ title.get('href') }}">{{ title.string }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<!-- Call the Macro: `render_pagination` from base.html -->
	{{ render_pagination(posts, 'home') }}
</div>
{% endblock %} 
