{% extends "base.html" %}
{% block title %}{{ post.title }}-Jerry's blog{% endblock %}

<!-- Replace the BODY of template base.html -->
{% block body %}
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="博文">
    <div class="w-100">

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h2 class="mb-0">{{ post.title }}</h2>
          <div class="subheading mb-3"><a href="{{ url_for('blog.user',username=post.username) }}">{{ post.users.username }}</a></div>
          <div id="test-editormd-view2">
            <textarea id="append-test" style="display:none;">
            {{ post.text|safe }}
          </textarea>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{ post.publish_date }}</span>
        </div>
      </div>
    </div>

<hr class="m-0">


</section>
<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="评论">
<div class="w-100">
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="resume-content">
    <h3 class="mb-5">最新评论</h3>
    <!-- Set the form -->
    <form method="POST" action="{{ url_for('blog.post', post_id=post.id) }}">
        <!-- form.hidden_tag提供了预防跨站请求伪造的机制，常用于表单页面 -->
        {{ form.hidden_tag() }}
        <div>
            <!-- Field: `name` label -->
            {{ form.name.label }}
            <!-- field.errors列表类型，用于显示验证失败后的提示信息 -->
            {% if form .name.errors %}
                {% for e in form.name.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
            {% endif %}
            <!-- form.name(class_="form.control")把字段本身作为方法调用，会渲染作用于该字段的HTML代码 -->
            {{ form.name(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.text.label }}
            {% if form.text.errors %}
                {% for e in form.text.errors %}
                    <p class="help-block">{{ e }}</p>
                {% endfor %}
            {% endif %}
              {{ form.text(class_='form-control') }}
        </div>
        <input class="btn btn-primary" type="submit" value="提交评论">
    </form>
    </div>
</div>
    {% for comment in comments %}
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">{{ comment.name }}</h3>
            <div class="subheading mb-3">Intelitec Solutions</div>
            <p>{{ comment.text | safe }}</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">{{ comment.date }}</span>
          </div>
        </div>
    {% endfor %}
</div>
</section>
{% endblock %}


{% block js %}
<script src="{{ url_for('static',filename='editormd/examples/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='editormd/lib/marked.min.js')}}"></script>
<script src="{{ url_for('static',filename='editormd/lib/prettify.min.js')}}"></script>
        
<script src="{{ url_for('static',filename='editormd/lib/raphael.min.js')}}"></script>
<script src="{{ url_for('static',filename='editormd/lib/underscore.min.js')}}"></script>
<script src="{{ url_for('static',filename='editormd/lib/sequence-diagram.min.js')}}"></script>
<script src="{{ url_for('static',filename='editormd/lib/flowchart.min.js')}}"></script>
<script src="{{ url_for('static',filename='editormd/lib/jquery.flowchart.min.js')}}"></script>

  <script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
    <script type="text/javascript">
      $(function() {
        var testEditormdView, testEditormdView2;
                
          $.get("test.md", function(markdown) {
                    
				    testEditormdView = editormd.markdownToHTML("test-editormd-view", {
                        markdown        : markdown ,//+ "\r\n" + $("#append-test").text(),
                        //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                        htmlDecode      : "style,script,iframe",  // you can filter tags decode
                        //toc             : false,
                        tocm            : true,    // Using [TOCM]
                        tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                        //gfm             : false,
                        //tocDropdown     : true,
                        // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                        emoji           : true,
                        taskList        : true,
                        tex             : true,  // 默认不解析
                        flowChart       : true,  // 默认不解析
                        sequenceDiagram : true,  // 默认不解析
                    });
                    
                    //console.log("返回一个 jQuery 实例 =>", testEditormdView);
                    
                    // 获取Markdown源码
                    //console.log(testEditormdView.getMarkdown());
                    
                    //alert(testEditormdView.getMarkdown());
                });
                    
                testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
                    htmlDecode      : "style,script,iframe",  // you can filter tags decode
                    emoji           : true,
                    taskList        : true,
                    tex             : true,  // 默认不解析
                    flowChart       : true,  // 默认不解析
                    sequenceDiagram : true,  // 默认不解析
                });
            });
        </script>
{% endblock %}